.bgContainer {
    position: relative;
    height: 683px;    
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.titles {
    position: relative;
    top: 80px;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 0;
    opacity: 1;
}

.title {
    position: relative;
    top: 0;
    color: #EB2907;
    font-weight: 500;
    font-size: 44px;
}

.subtitle {
    position: relative;
    margin-top: -14px;
    color: #000000;
    font-weight: 300;
    font-size: 24px;
}

.smContainer {
    position: relative;
    top: 110px;
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
}

.smContainer > * {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    color: #1A1A1A;
    opacity: 1;
}

.smContainerMobile {
    display: none;
}

.icons {
    top: 100px;
    max-width: 1030px;
}

.step1 {
    top: 285px;
    left: 27px;
    width: 248px;
    height: 83px;
}

.step2 {
    top: 30px;
    left: 200px;
    width: 350px;
    height: 84px;
}

.step3 {
    top: 285px;
    left: 445px;
    width: 314px;
    height: 124px;
}

.step4 {
    top: 60px;
    left: 650px;
    width: 350px;
    height: 51px;
}

.step5 {
    top: 285px;
    right: -26px;
    width: 370px;
    height: 131px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .bgContainer {
      height: auto;
      padding-bottom: 25px;
    }

    .smContainer {
        display: none;
    }

    .smContainerMobile {
        display: block;
        padding: 80px 40px 0 40px;
    }

    .subtitle {
      padding: 25px;
    }

    .wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 15px;
    }

    .icon {
      width: 100%;
      max-width: 30px;
    }

    .text {
      font-weight: 500;
      padding-left: 15px;
    }
}